################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMP2804/FileContentIndex/282c982f-59ae-47fe-81cc-163449c27b1d.vsidx
